<div class="auth-container">

  <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <h1>Login</h1>
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <div class="error" *ngIf="loginError != undefined && loginError != '' ">{{ loginError }}</div>
    <button type="submit">Login</button>
  </form>
</div>
