<div class="auth-container">

  <form  class="auth-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <h1>Register</h1>
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <div class="error" *ngIf="registerError != undefined && registerError != ''">{{ registerError }}</div>
    <button type="submit">Register</button>
  </form>
</div>
